[submodule "libraries/codeigniter"]
	path = libraries/codeigniter
	url = git@github.com:aquarion/CodeIgniter.git
[submodule "libraries/postmark"]
	path = libraries/postmark
	url = git://github.com/zackkitzmiller/postmark-codeigniter.git
[submodule "libraries/bootswatch"]
	path = libraries/bootswatch
	url = git@github.com:thomaspark/bootswatch.git
